* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
h1, h2, h3, h4 {
    font-family: 'Coda', cursive;
	letter-spacing: 1px;
    font-weight: bold;
    font-size: 31px;
}
p, li, a, q, span, button {
	font-family: 'Comfortaa', cursive;
    font-size: 17px;
}
input, textarea {
    font-size: 15px;
    letter-spacing: 1px;
}
button {
    font-size: 16px;
    padding: 9px 16px;
}


.plans h1 {
    margin-bottom: 20px;
}
.plans p {
    margin-bottom: 40px;
}
.plans .plan {
    border: 1px solid #555;
    padding-top: 15px;
    margin-bottom: 18px;
    text-align: left;
    position: relative;
    height: 1100px;
    
    box-shadow: 0px 0px 7px 1px #eee;
    border: 1px solid #eee;
}
.plans .plan .top {
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 3px solid #7984aa;
    height: 115px;
}
.plans .plan > .second {
    border-bottom: 3px solid #00c092;
}
.plans .plan > .third {
    border-bottom: 3px solid #00bfff;
}
.plans .plan .top h2 {
    font-size: 26px;
}
h2.first {
    color: #7984aa;
}
h2.second {
    color: #00c092;
}
h2.third {
    color: #00bfff;
}


.plans .plan .top .sub-h2 > span {
    display: inline-block;
}
.plans .plan .top .sub-h2 > span:first-of-type {
    vertical-align: top;
    line-height: 40px;
}
.plans .plan .top .sub-h2 .price {
    font-size: 4.1rem;
    font-weight: bold;
}
.plans .plan .top .sub-h2 .sum {
    font-size: 14px;
}
.plans .plan .top .sub-h2 .sum span:first-of-type {
    font-weight: bold;
    line-height: 13px;
}
.plans .plan .top .sub-h2 .sum span {
    display: block;
}


.plans .plan .top > span:first-of-type {
    font-weight: bold;
}
.plans .plan .top > span {
    display: block;
    text-align: left;
}
.plans .plan .body {
    margin-top: 18px;
    text-align: center;
    padding-top: 18px;
}
.plans .plan .body p {
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
.plans .plan .body button, .plan .bottom button {
    background: #ff8001;
    margin-left: 5%;
    margin-right: 5%;
    color: #fff;
    width: 90%;
    border: none;
    margin-top: 18px;
    margin-bottom: 18px;
    transition: all 0.4s ease-in-out;
}
.plan button {
    margin-top: 50px;
    border-radius: 4px;
}
.plans .plan .body button:hover, .plan button:hover {
    background: #e97502;
    border-radius: 4px;
}
.plans .plan .bottom {
    margin-top: 25px;
}
.plans .plan .bottom .item {
    padding-left: 20px;
    padding-right: 20px;
    height: 55px;
    line-height: 55px;
    text-align: left;
    display: block;
    cursor: pointer;
}
.plans .plan .bottom .hr {
    border-top: 1px solid #999;
}
.plans .plan .bottom .item p {
    display: inline-block;
    line-height: 1px;
    margin-left: 20px
}
.plans .plan .bottom .item i {
    color: #ff8001;
    float: left;
    font-size: 20px;
    line-height: 55px;
}
.plans .plan .bottom .item i:last-of-type {
    float: right;
    color: #999;
    line-height: 55px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

















